/* Universal  */

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: black;
    height: 5000px;
}

.container {
    height: 100%;
}

/* top navigation bar */
nav {
    
    border-bottom: 5px solid gold;
}

.brand-logo {
    font-family: "Lobster", cursive;
}


/* Hero content  */
.heroWrapper {
    height: 525px;
}


.justifyCenter {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#content {
    padding: 15px;
    z-index: 2;
    text-align: center;
    overflow: hidden;
}


.card-content {
    text-align: center;
}

#search-box {
    border: 2px solid gold;
    border-radius: 10px;
    height: 10%;
    opacity: 0.9;
}

#select-artist {
    font-family: "Lobster", cursive;
    height: 50px;
    width: 125px;
    background-color: #e53935;
    color: rgb(187, 110, 110);
    border-radius: 50px;
    cursor: pointer;
}

.wrapper {
    margin-top: -64px;
    padding-top: 64px;

}
.stepContainer {
    padding: 64px 0;
}

.page-break {
    margin-top: 200px;
    font-family: "Lobster", cursive;
    background-color: #e53935;
    text-align: center;
    color: white;
    width: 100vh;
    height: 150px;
    min-width: 100%;
    margin: 0;
    padding: 0;
    
}



video {
    display: block;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}
